@model IEnumerable<ebookstore.Models.Categories>

@{
    ViewData["Title"] = "Default";
}

<li class="dropdown">
    <a asp-controller="Books" asp-action="ListAll"
       class="dropdown-toggle" data-toggle="dropdown">Filtro sipas Kategorive<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li>
                <a asp-area=" " asp-controller="Books" asp-action="ListCategory"
                   asp-route-categoryName="@category.Name">@category.Name</a>
            </li>
        }


        <!--Nqs eshte



            do te jete pjese e dropdown .ne te kundert jo-->

    </ul>
</li>

